
.mat-toolbar {
  background-color: var(--color-primary); /* Fondo blanco */
  color: var(--color-text-dark); /* Texto oscuro */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.toolbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.spacer {
  flex: 1;
}

.nav-links button {
  font-size: 1rem;
  color: var(--color-text-dark);
  margin: 0 0.5rem;
}

.nav-links button:hover {
  color: var(--color-hover); /* Azul en hover */
  background-color: transparent;
}

.menu-button {
  display: none;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-button {
    display: inline-block;
  }
}

button[mat-raised-button] {
  border-radius: 20px; /* Botones redondeados */
  text-transform: capitalize;
}

button[mat-raised-button][color="primary"] {
  background-color: var(--color-hover); /* Azul para el botón de ingreso */
  color: white;
}

button[mat-raised-button][color="primary"]:hover {
  background-color: #0056b3; /* Azul más oscuro en hover */
}
